.slider {
@apply flex flex-col md:flex-row items-center relative pb-20 md:pb-4 p-4 md:p-0 md:h-[600px];

  .background {
    @apply relative md:absolute top-0 right-0 h-[200px] md:h-[600px] w-full md:w-1/2 object-cover;
  
    top: 0 !important;
    right: 0 !important;
    object-fit: cover !important;

    img {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
    }
  }

  >*:not(.background) {
    @apply relative;

    z-index: 2;
  }

  .textWrapper {
    @apply w-full md:max-w-[800px] bg-white animate-fade-up animate-once animate-ease-in;

    @screen md {
      padding: 55px 200px 55px 0; 
    }
  }
}

.subtitle {
  @apply relative inline-block mt-4 md:mt-0 mb-4 md:mb-8 pl-6 text-base md:text-lg text-secondary;

  &::before {
    @apply top-[6px] left-0 size-4 rounded-full absolute bg-primary;

    content: "";
  }
}

.title {
@apply mb-4 md:mb-12 text-2xl md:text-5xl leading-[1.2] font-bold;
}

@keyframes rotating {
  from {
    transform: rotate(-360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotating {
  @apply font-semibold;

  animation: rotating 12s linear infinite;
}

/*-- Slider --*/

.slider {
  @apply relative;

  &Controll {
    @apply flex items-center relative -top-[60%] px-4 md:px-0 -mt-[52px] mb-4 md:mb-0;

    z-index: 2;
  }

  &NavigationWrap {
    @apply flex items-center space-x-4;
  }

  &Pagination {
    @apply w-auto mr-12 text-secondary text-xl font-bold;
  }
}

.track {
  @apply pb-0 w-full;

  scrollbar-width: none;

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.progress {
  @apply bg-white w-full h-2 overflow-hidden;
}

.progressIndicator {
  @apply bg-gray-100;
}
